<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Learning EJS</title>
    </head>
    <body>
        <h1>Hello EJS</h1>
        <div>
            <% students.forEach(function(student) { %>
                <h3> ID <%= student.id %> | Name <%= student.name %> | Course <%= student.course %></h3>
            <% })%>
        </div>
    </body>
</html>